*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
 
body {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font: 100% sans-serif;
  margin: 0em;
  background-color: white;
  color: #666;
}

h1, h2, h3 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font: 100% sans-serif;
  font-weight: 300;
}

a {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  color: #bddc04;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #95af04;
}

p {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1em;
  line-height: 1.8;
  margin-top: 0em;
}

img {
  max-width: 100%;
}

hr {
  border-top: 55px solid #95af04;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
  border-color: #95af04;
}

header {
  background-color: white;
  background-image: url(background1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 4em;
  height: 1500px;
  position:relative;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

header h1 {
  color:  #bddc04;
  margin: 0;
  letter-spacing: 1px;
  position: relative;
  left: 240px;
  top: 40px;
  font-weight: 400;
  font-size: 2em;

}

header strong  {
  color:  #bddc04;
  font-size: 2.5em;
  /*text-shadow: 0 3px 0 rgba(0,0,0, 0.5);*/
}

header a {
	color: #bddc04;
	text-decoration: none;
	font-weight: bold;
}

header a:focus,
header a:hover {
  color: #95af04;
	text-decoration: none;
	font-weight: bold;
}

header p {
  color:  #bddc04;
  letter-spacing: 1px;
  padding-top: .5em;
  position: relative;
  left: 240px;
  top: 30px;
  font-weight: 400;
  font-size: 2em;
}

section h1 {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1.8em;
  line-height: 1em;
  margin-bottom: .6em;
}

/* Same font-size and line-height as p element */
section ul li, section ol li {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1em;
  margin-left: -10px;
  line-height: 1.5;
  list-style-type: none;
}

footer {
  margin-bottom: 1em;
  color: #888;
}

footer hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

.center {
  text-align: center;  
}

@media screen and (min-width: 50em) {
  header {
    height: 700px;
  }


/* ------------------- Grid -------------------*/

.container {
  max-width: 50em;
  width:92%;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.container hr {
  border-top: 3px solid #95af04;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

.education hr {
  border-top: 1px dotted #95af04;
  border-bottom: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

.row {
  clear: both;
  margin-right: 1%;
  margin-left:  1%;
  
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 */
.row {
  *zoom: 1;
}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6{
  float: left;
  width:100%;
  padding: 0 1%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 40em) {
  .grid-1 { width: 16.6666666%; }
  .grid-2 { width: 33.3333333%; }
  .grid-3 { width: 50%; }
  .grid-4 { width: 66.6666666%; }
  .grid-5 { width: 83.3333333%; }
  .grid-6 { width: 100%; }

}

/* -------------------Custom Blocks----------------- */

/* Puzzle */
.puzzle { 
   position: relative; 
   top: 0; 
   left: 0; 	
   width: 100%; /* for IE 6 */
   height: 100%; /* for IE 6 */
}

@media screen and (min-width: 40em) {
  .puzzle .grid-2 {
	width: 33.3333333%;
  }
}

.puzzle1  { 
  background-color: white;
  background-image: url(Puzzle1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position:relative;
  height: 250px;
}
.puzzle2  { 
  background-color: white;
  background-image: url(Puzzle2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position:relative;
  height: 250px;
}
.puzzle3  { 
  background-color: white;
  background-image: url(Puzzle3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position:relative;
  height: 250px;
}
.puzzle4  { 
  background-color: white;
  background-image: url(Puzzle4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  position:relative;
  height: 250px;
}

.puzzle p { 
   font-size:1em;
   margin: 0;
   position: absolute;               /* 2 */
   top: 30%;
   left:30%;
   text-align:center;
}
.puzzle p:hover {
  font-size: 1.2em;
}			

.puzzle a {
	color:  black;
}
.puzzle a:focus,
.puzzle a:hover {
  color: black;
}

/* Education Block */
.education {
  line-height: 1.5;
  margin-bottom: 0;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 40em) {
  .education {
    width: 70%;
  }
}

/* Experience */
.experience [class*="row"] {
  border-bottom: dotted 1px #ccc;
  padding-top: 1em;
  padding-bottom: 1em;
  border-color:#95af04;
}

.experience h2, .experience h3 {
  margin-bottom: 0;
}

.experience h2, .experience h3, .experience p {
  text-align: center;
}

.experience h2{
  font-size: 1.5em;
}

.experience h3{
  font-size: 1em;
}
.experience [class*="row"]:last-of-type {
  border: none;
}

@media screen and (min-width: 40em) {
  .experience h2, .experience h3, .experience p {
    text-align: left;
  }
}

.experience ul li, experience ol li {
  font-size: 0.85em;
  margin-left: -30px;
  margin-top: 10px;
  color:#333333; 
}

/* Testimonials */
.testimonial {
  text-align: center;
  margin-bottom: 30px;
}

.testimonial img {
  height: 4em;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 40px;
}

.testimonial p {
  font-style: italic;
  color: #888;
  margin-top:  -15px;
}

/* Spotlight */
.spotlight {
  background-color: #bddc04;
  padding: 3em 1em;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

.spotlight img {
  width: 60%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.spotlight h1 {
  color: #556402;
  font-weight:bold;
}

.spotlight p {
  color: #556402;
  font-size: 1.1em;
}

.spotlight a {
  background-color: transparent;
  border: 3px solid #556402;
  padding: 7px 35px;
  border-radius: 3px;
  color: #556402;
  font-size: 1.1em;
  opacity: .8;
  margin-bottom: 10px;
}

.spotlight a:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  .spotlight {
    padding: 6em;
    text-align: left;
  }
  
  .spotlight h1, .spotlight p {
    text-align: left;
  }
  
}

